body{
    margin: 0;
    padding: 0;
    font-family: "Exo 2", sans-serif;
    display: flex;
    flex-direction: column;
}

.header{
    width: 100%;
    height: 500px;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.nav{
    width: 80%;
    margin: 0;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.logo{
    font-size: 24px;
    font-weight: 900px;

}



.nav ul{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
    list-style: none;

}

.nav a:hover{
    color:#3882f6;
    font-weight: 700;
    transition: 0.2s;
}

.hero{
    margin: 2% 0;
    display: flex;
    width: 80%;
    height: 80%;
    justify-content: space-between;
    align-items:center;
    gap: 20px;
    /*flex-wrap: wrap;*/
}

.hero-text{
    width: 400px;
    align-self: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

}

.hero-text h1{
    font-size: 48px;
    margin: 0;
}

.hero-text p{
    margin-bottom: 15px;
    margin-top: 0;
    font-size: 18px;
    color: #E5E7EB;
}

.button{
    color: F9FAF8;
    margin: 0;
    padding: 8px  15px;
    border-color: #3882f6;
    background-color: #3882f6;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.image{
    height: 301px;
    max-width: 451px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}

a{text-decoration: none;
    color: #E5E7EB;
}



img{height: 100%;
    width: 100%;
}

.info{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    width: 80%;
    margin: 50px auto;
}

.info h2{
    font-size: 36px;
}
.info-cards{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.info-card{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.info-image{
    aspect-ratio: 1 / 1;    
    width: 90%;
}

.info-image img{
    border-radius: 15%;
    border: solid 5px #3882f6;


}

.extra-info{
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    width: 100%;
    height: 300px;
    background-color: #E5E7EB;
}

.extra-info p{
    width: 80%;
    margin: auto;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.cto{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.cto-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 150px;
    background-color: #3882f6;
    margin: 60px auto;
    padding: 0 10%;
    border-radius: 10px;
}

.cto-text{
    color: #E5E7EB;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 60%;
    justify-content: center;
}

.cto-text p, .cto-text h3{
    margin: 0;
}

.cto-button{
    border:  solid 1px #E5E7EB;
}

.footer{
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 5px;
    background-color: #1f2937;
    color: #E5E7EB;
    font-size: 12px;
}

@media  screen and (max-width: 800px) {
    .body{
        gap: 20px;
    }
    .header{height: 850px;}

    .hero{
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .hero-text{
        align-self: center;
    }

    .info-cards{
        flex-direction: column;
        align-items: center;
        gap: 80px;
    }

    .info-card{
        width: 90%;
    }

    .extra-info p{
        font-size: 30px;
    }

    .extra-info{
        height: 800px;
    }

    .cto-row{
        height: 200px;
    }
}